body{
    margin: 0;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}
.header{
    background-color: orange;
    height: 10vh;
}
.visual{
    background-color: salmon;
    height: 10vh;
}
.main{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.group{
    height: 60vh;
}
.group1{
    background-color: violet;
    width: 250px;
    /*border: 2px solid whitesmoke;*/
}
.group2{
    background-color: cornflowerblue;
    width: 380px;
}
.group3{
    background-color: crimson;
    width: 190px;
}
.clearfix{
    clear: both;
}
.slogan{
    background-color: aqua;
    height: 10vh;
}
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}