body{
    margin: 0;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}
.header{
    background-color: orange;
    height: 10vh;
}
.visual{
    background-color: salmon;
    height: 10vh;
}
.main{
    background-color: blueviolet;
    /*border: 10px solid greenyellow;*/
    padding: 30px 15px;
}
.main::after{
    content: "";
    display: block;
    clear: both;
}
.group{
    height: 60vh;
    margin: 0 15px;
}
.group1{
    background-color: violet;
    float: left;
    width: 250px;
    /*border: 2px solid whitesmoke;*/
}
.group2{
    background-color: cornflowerblue;
    width: 380px;
    float: left;
}
.group3{
    background-color: crimson;
    float: left;
    width: 190px;
}
.clearfix{
    clear: both;
}
.slogan{
    background-color: aqua;
    height: 10vh;
}
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}